[submodule "kicad-symbols"]
	path = kicad-symbols
	url = https://gitlab.com/kicad/libraries/kicad-symbols.git
[submodule "kicad-packages3D"]
	path = kicad-packages3D
	url = https://gitlab.com/kicad/libraries/kicad-packages3D.git
[submodule "kicad-templates"]
	path = kicad-templates
	url = https://gitlab.com/kicad/libraries/kicad-templates.git
